<br><br><br><br>

<h1 class="row justify-content-md-center">Developer Signup</h1><br>
 <div class="row justify-content-md-center">
  <div class="col-md-5">

    <div class="text-center">
  <%= form_for @developer do |f| %>
      <% if @developer.errors.any? %>
        <%= pluralize(@developer.errors.count, "error") %>
        <ul>
          <% @developer.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        </ul>
      <% end %>
    <%= f.label :name %>
    <%= f.text_field :name, {class:"form-control"} %>
    <%= f.label :email %>
    <%= f.text_field :email, {class:"form-control"} %>
    <%= f.label :password %>
    <%= f.password_field :password, {class:"form-control"} %>
    <%= f.label :title %>
    <%= f.text_field :title, {class:"form-control"} %>
    <%= f.label :description %>
    <%= f.text_area :description, {class:"form-control"} %>
    <%= f.label :location %>
    <%= f.text_field :location, {class:"form-control"} %>
    <br>
    <%= f.submit("Create Developer", {class: "btn btn-info btn-block"}) %>
  <% end %>
</div>
  <br><br>
  <p class="text-center">Already a Member? <%= link_to "Login", developer_login_path, class: "customize-text" %></p>
  </div>
 </div>
<br>
