
<br><br><br>

<h2><%= flash[:notice] %></h2>

<div class"dev-profile">
<h1><%= @developer.name %></h1>
<br>
<h2><%= @developer.title %></h2>
<br>
<h2><%= @developer.description %></h2>
<br>
<h2>Location: <%= @developer.location %></h2>
</div>

<h2>Projects assigned:</h2><br>
  <% if @developer.projects.empty? %>
    <p>None</p>
  <% else %>
    <% @developer.projects.each do |project| %>
      <p><%= link_to project.title, project %></p>
  <% end %>
<% end %>

<% if current_developer && session[:developer_id] == current_developer.id %>
  <%= button_to "Edit Developer", edit_developer_path(@developer), {method: :get, class: "btn btn-info col-3"} %>
<% end %>
