
<br><br><br><br>
<h1 class="row justify-content-md-center">Developer Login</h1><br>
<h3><%= flash[:notice] %></h3>
<div class="row justify-content-md-center">
 <div class="col-md-4">
  <%= form_tag developer_login_path do %>
    <%= label_tag :email %><br>
    <%= text_field_tag :email, "", class: "form-control" %><br>
    <%= label_tag :password %><br>
    <%= password_field_tag :password, "", class: "form-control" %><br>
    <%= submit_tag "Login", {class: "btn btn-info btn-block"} %>
  <% end %>
 </div>
</div>
<br>
